
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #029fe2;
    height: 600px;
    padding: 25px 15px 5px;
    font-family: 'Roboto', sans-serif;
    color: white;
    }