<div class="body">
    <div class="sidebar">
      <div class="one">
        <a class="thing">Предмет</a><Br>
        <input type="checkbox" class="check">Адаптер (2)<Br>
        <input type="checkbox" class="check">Аккумулятор для мобильного телефона (1)<Br>
        <input type="checkbox" class="check">Блок питания для ноутбука (8)<Br>
        <input type="checkbox" class="check">Зарядное устройство (5)<Br>
      </div>
      <div class="two">
        <a class="thing">Бренд</a><Br>
        <input type="checkbox" class="check">Arlight (1)<Br>
        <input type="checkbox" class="check">ECOLA (3)<Br>
        <input type="checkbox" class="check">Live Power (3)<Br>
        <input type="checkbox" class="check">Mobicent (3)<Br>
      </div>
      <div class="three">
        <a class="cost">Цена</a><Br>
        <div class="filter-block">
          <span class="cost-range"> От </span>
          <input type="text" class="input-range"size="6"><Br>
          <span class="cost-range"> До </span>
          <input type="text" class="input-range"size="6">
        </div>
      </div>
      <div class="four">
        <a class="thing">Скидка</a><Br>
        <div class="s-radio"><input type="radio"> от 10% и выше</div>
        <div class="s-radio"><input type="radio"> от 20% и выше</div>
        <div class="s-radio"><input type="radio"> от 30% и выше</div>
      </div>
    </div>
    <app-products></app-products>
  </div>
  