<div class="header-controls">
    <button class="burger">☰</button>
    <a class="name">WILDBERRIES</a>
    <div class="user-menu">
        <div class="adress">
            <div class="icon-adr"></div>
            <div class="punct-adr">Адреса</div>
        </div>
        <div class="login">
            <div class="icon-login"></div>
            <div class="punct-login">Войти</div>
        </div>
        <div class="basket">
            <div class="icon-bsk"></div>
            <div class="punct-bsk">Корзина</div>
        </div>
    </div>
</div>